.button-link{
   text-decoration: none;
    color: inherit;

}
.botton{
    height: 25px;
    width: 100px;
    text-align: center;
    padding: 3.5px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 16px;
  }

  .app-container {
    display: flex;
  }

  .side-menu {
    height: 100vh;
    width: 15%;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid rgb(11, 11, 11);
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Allows scrolling if content overflows */
  }
